@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Montserrat';
  src: url('https://your-project-id.web.app/path/to/montserrat.woff2') format('woff2'),
       url('https://your-project-id.web.app/path/to/montserrat.woff') format('woff');
  /* Add additional formats if needed */
  font-weight: normal;
  font-style: normal;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
    min-height: 432px;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
  }
}

@media screen and (min-width: 1024px) {
  body {
    min-width: 1024px;
    min-height: 576px;
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
  }
}

/* Define the transition for the slide effect */
.signUp-slide-out {
  transform: translateX(0); /* Initial position */
  transition: transform 0.5s ease-in-out;
  opacity: 1;
  z-index: 5;
}

.signUp-slide-in {
  transform: translateX(-150%); /* Shift left by 100% of the element's width */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  border-top-left-radius: 10px; /* Adjust the radius value as needed */
  border-bottom-left-radius: 10px; /* Adjust the radius value as needed */
  border-top-right-radius: 0; /* No rounded corner on the top-right */
  border-bottom-right-radius: 0; /* No rounded corner on the bottom-right */
  z-index: 5;
}

/* Define the transition for the slide effect */
.signIn-slide-out {
  transform: translateX(0); /* Initial position */
  transition: transform 0.5s ease-in-out;
  opacity: 1;
  z-index: 5;
  
}

.signIn-slide-in {
  transform: translateX(70%); /* Shift left by 100% of the element's width */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  z-index: 1;
}

.text-container-invi {
  opacity: 0; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 1;
  pointer-events: none;
}

.text-container-full {
  opacity: 1; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 5;
  
}
.signIn-text-container-invi {
  opacity: 0; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 1;
  pointer-events: none;
}

.sign-in-text-container-full {
  opacity: 1; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 4;
  
}
.text-container-sign-in {
  opacity: 0; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 4;
  position: absolute; /* Position it as needed */
  /* Additional styling as needed */
}
.text-container-sign-up {
  opacity: 0; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 0;
 
 /* Position it as needed */
  /* Additional styling as needed */
}
.text-container-sign-up-invi {
  opacity: 0; /* Initial opacity for full visibility */
  transition: opacity 0.5s ease-in-out; /* Add opacity transition */
  z-index: 0;
  pointer-events: none;
 /* Position it as needed */
  /* Additional styling as needed */
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

#load {
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:45%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-size:x-large;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#00008B;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

